body {
  margin: 0;
  overflow: hidden;
  background-color: #111;

  #gameArea {
    position: absolute;
    left: 50%;
    top: 50%;

    #gameCanvas {
      width: 100%;
      height: 100%;
      background-image: url("https://raw.githubusercontent.com/marcin-brumer/Avoid-The-Spikes/master/dist/img/background.jpg");
      background-size: 100% 100%;
    }

    .menu {
      background-color: #000;
      position: absolute;
      left: 30%;
      top: 25%;
      width: 40%;
      height: 50%;
      border-radius: 10%;
      border: 1vh solid #fff;
      opacity: 0.8;
      text-align: center;
      color: #fff;

      h1 {
        font-size: 7vh;
      }

      p {
        font-size: 4vh;
      }

      .button {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        padding: 1vh 4vh;
        font-size: 2.5vh;
        border-radius: 1vh;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #3498db;
        border: none;
        border-bottom: 0.6vh solid #2980b9;
        cursor: pointer;

        &:active {
          transform: translate(-50%, -45%);
          border-bottom: none;
        }
      }
    }

    #game_over_menu {
      display: none;
    }
  }
}
