body {
  margin: 0;
  overflow: hidden;
  background-color: #111;

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .bar {
      width: 6px;
      height: 60px;
      background: #2980b9;
      display: inline-block;
      animation: loading 1.5s ease-in-out infinite;
    }

    .bar1 {
      animation-delay: 0.1s;
    }
    .bar2 {
      animation-delay: 0.2s;
    }
    .bar3 {
      animation-delay: 0.3s;
    }
    .bar4 {
      animation-delay: 0.4s;
    }
    .bar5 {
      animation-delay: 0.5s;
    }
    .bar6 {
      animation-delay: 0.6s;
    }
    .bar7 {
      animation-delay: 0.7s;
    }
    .bar8 {
      animation-delay: 0.8s;
    }

    @keyframes loading {
      0% {
        transform: scaleY(1);
        background: #2980b9;
      }
      50% {
        transform: scaleY(0);
        background: transparent;
      }
      100% {
        transform: scaleY(1);
        background: #2980b9;
      }
    }
  }

  #gameArea {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;

    #gameCanvas {
      width: 100%;
      height: 100%;
      background-image: url("https://raw.githubusercontent.com/marcin-brumer/Avoid-The-Spikes/master/dist/img/background.jpg");
      background-size: 100% 100%;
    }

    .menu {
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      left: 30%;
      top: 25%;
      width: 40%;
      height: 50%;
      border-radius: 10%;
      border: 1vh solid #fff;
      text-align: center;
      color: #fff;

      h1 {
        font-size: 6vh;
      }

      p {
        font-size: 3vh;
      }

      .button {
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        padding: 1vh 4vh;
        font-size: 2.5vh;
        border-radius: 1vh;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #3498db;
        border: none;
        border-bottom: 0.6vh solid #2980b9;
        cursor: pointer;

        &:active {
          transform: translate(-50%, -45%);
          border-bottom: none;
        }
      }
    }

    #game_over_menu {
      display: none;
    }
  }
}

@media screen and (max-width: 1100px) {
  body {
    #gameArea {
      .menu {
        border: 0.7vw solid #fff;
        h1 {
          font-size: 4vw;
        }
        p {
          font-size: 2vw;
        }
        .button {
          padding: 0.7vw 3vw;
          font-size: 2vw;
          border-radius: 0.7vw;
          border-bottom: 0.4vw solid #2980b9;
        }
      }
    }
  }
}
